<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161621303319-b4lj4115n7s5dc0qttbtaitqk3ug0qoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161621303319-b4lj4115n7s5dc0qttbtaitqk3ug0qoa</string>
	<key>API_KEY</key>
	<string>AIzaSyCzxL26AjM5RxMBGc4KWWQTv-IS3zBYY3I</string>
	<key>GCM_SENDER_ID</key>
	<string>161621303319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CustomLoginDemo</string>
	<key>PROJECT_ID</key>
	<string>customlogindemo-7e7a4</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogindemo-7e7a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161621303319:ios:3821306cd21eda77db7c52</string>
	<key>DATABASE_URL</key>
	<string>https://customlogindemo-7e7a4.firebaseio.com</string>
</dict>
</plist>